IP_ADDRES=your_ip_address_here
DATABASE_URL='postgresql://neondb_owner:npg_m9pCfxW4kZuK@ep-billowing-river-a1sn4fhy-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
