{% extends 'base.html' %}
{% block title %}Mon profil{% endblock %}

{% block content %}
<div class="container col-md-6 mt-5">
  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">👤 Mon profil</h4>
    </div>
    <div class="card-body">
      <p><strong>Nom complet:</strong> {{ user.first_name }} {{ user.last_name }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Rôle:</strong> {{ role|capfirst }}</p>
      <p><strong>Date d'inscription:</strong> {{ user.date_joined|date:"F d, Y" }}</p>
      <p><strong>Nom d'utilisateur:</strong> {{ user.username }}</p>
    </div>
    <form method="post">
      {% csrf_token %}
      <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" id="id_email_consent" name="email_consent"
                {% if user.userprofile.email_consent %}checked{% endif %}>
          <label class="form-check-label" for="id_email_consent">
              Recevoir des recommandations d’événements par email
          </label>
      </div>
      <button type="submit" class="btn btn-primary">Sauvegarder</button>
    </form>
    <div class="card-footer text-end">
      <a href="{% url 'edit-profile' %}" class="btn btn-outline-primary">✏️ Éditer le profil</a>
    </div>
  </div>
</div>
{% endblock %}
